[Unit]


[Service]
ExecStartPost=/bin/sleep 30
Type=idle
ExecStart="/home/estacion/lora_project/start_lora_broker.sh"
Restart=always
User=estacion
StartLimitIntervalSec=45

[Install]
WantedBy=default.target