[Unit]


[Service]
ExecStartPost=/bin/sleep 30
Type=idle
ExecStart="/home/huillin/lora_project/start_lora_broker.sh"
Restart=always
User=huillin
StartLimitIntervalSec=45

[Install]
WantedBy=default.target